### UDOT
########

/*
!/bash
!/bin
!/fzf
!/i3
!/tmux
!/vim
!/x11
!/bookmarks.html
!/.gitignore
!/LICENSE
!/README.md
!/restore.sh
!/setup.sh
!/wallpaper




### BASH
########

/bash/*
!/bash/.bash_aliases
!/bash/.bash_functions
!/bash/.bash_logout
!/bash/.bash_profile
!/bash/.bashrc
!/bash/.git-prompt.sh
!/bash/.profile




### BIN
#######

/bin/*
!/bin/bin

/bin/bin/*
!/bin/bin/ffinders
!/bin/bin/xiosetup
!/bin/bin/md2html
!/bin/bin/mergepdf
!/bin/bin/rscode
!/bin/bin/rsmime
!/bin/bin/ufetch
!/bin/bin/xopp2pdf

/bin/bin/ffinders/*
!/bin/bin/ffinders/ffind
!/bin/bin/ffinders/fgit
!/bin/bin/ffinders/fjump
!/bin/bin/ffinders/mess
!/bin/bin/ffinders/swallow

/bin/bin/xiosetup/*
!/bin/bin/xiosetup/xlayout
!/bin/bin/xiosetup/xmonitor
!/bin/bin/xiosetup/xtouch
!/bin/bin/xiosetup/xwacom




### FZF
#######

/fzf/*
!/fzf/.config

/fzf/.config/*
!/fzf/.config/fzf

/fzf/.config/fzf/*
!/fzf/.config/fzf/completion.bash
!/fzf/.config/fzf/key-bindings.bash




### I3
######

/i3/*
!/i3/.config

/i3/.config/*
!/i3/.config/i3
!/i3/.config/i3status

/i3/.config/i3/*
!/i3/.config/i3/config
!/i3/.config/i3/i3autoload
!/i3/.config/i3/i3menu
!/i3/.config/i3/i3scratch
!/i3/.config/i3/wallpaper

/i3/.config/i3status/*
!/i3/.config/i3status/config




### TMUX
########

/tmux/*
!/tmux/.tmux.conf




### VIM
#######

/vim/*
!/vim/.vim
!/vim/.vimrc
!/vim/.gvimrc

/vim/.vim/*
!/vim/.vim/after
!/vim/.vim/colors
!/vim/.vim/plugin

/vim/.vim/after/*
!/vim/.vim/after/ftplugin
!/vim/.vim/after/plugin

/vim/.vim/colors/*
!/vim/.vim/colors/hembox.vim
!/vim/.vim/colors/hemisu.vim

/vim/.vim/plugin/*
!/vim/.vim/plugin/vimnote
!/vim/.vim/plugin/jumper.vim
!/vim/.vim/plugin/writer.vim

/vim/.vim/after/ftplugin/*
!/vim/.vim/after/ftplugin/netrw.vim

/vim/.vim/after/plugin/*
!/vim/.vim/after/plugin/netrw.vim

/vim/.vim/plugin/vimnote/*
!/vim/.vim/plugin/vimnote/assets

/vim/.vim/plugin/vimnote/assets/*
!/vim/.vim/plugin/vimnote/assets/before.html
!/vim/.vim/plugin/vimnote/assets/footer.html
!/vim/.vim/plugin/vimnote/assets/header.html
!/vim/.vim/plugin/vimnote/assets/link2html.lua
!/vim/.vim/plugin/vimnote/assets/makenote




### X11
#######

/x11/*
!/x11/.Xdefaults
!/x11/.xinitrc
!/x11/.Xresources
!/x11/.xsettingsd
