### TAGS
########

tags*




### VIM/NVIM
############

/vim/.vim/*
!/vim/.vim/after
!/vim/.vim/autoload
!/vim/.vim/colors
!/vim/.vim/ftplugin
!/vim/.vim/packed
!/vim/.vim/plugin
!/vim/.vim/cocsettings

/vim/.config/*
!/vim/.config/nvim/init.vim*




### HELIX
#########

/HELIX/*
/helix/.config/helix/*
!/helix/.config/helix/themes/*
!/helix/.config/helix/config.toml
