### VIM
#######

/vim/.vim/*
!/vim/.vim/after
!/vim/.vim/autoload
!/vim/.vim/colors
!/vim/.vim/pack
!/vim/.vim/plugin




### DMENU
#########

/dmenu/*
!/dmenu/arg.h
!/dmenu/config.def.h
!/dmenu/config.def.h.orig
!/dmenu/config.mk
!/dmenu/dmenu.1
!/dmenu/dmenu.c
!/dmenu/dmenu.c.orig
!/dmenu/dmenu_path
!/dmenu/dmenu_run
!/dmenu/drw.c
!/dmenu/drw.h
!/dmenu/LICENSE
!/dmenu/Makefile
!/dmenu/README.md
!/dmenu/stest.1
!/dmenu/stest.c
!/dmenu/util.c
!/dmenu/util.h




### ST
######

/st/*
!/st/arg.h
!/st/boxdraw.c
!/st/boxdraw_data.h
!/st/config.def.h
!/st/config.mk
!/st/FAQ
!/st/LEGACY
!/st/LICENSE
!/st/Makefile
!/st/README.md
!/st/st.1
!/st/st.c
!/st/st.c.orig
!/st/st.h
!/st/st.h.orig
!/st/st.info
!/st/TODO
!/st/win.h
!/st/x.c
!/st/x.c.orig




### ROVER
#########

/rover/*
!/rover/CHANGES.md
!/rover/config.h
!/rover/FAQ.md
!/rover/Makefile
!/rover/README.md
!/rover/rover.1
!/rover/rover.c
!/rover/screenshot.png




### SIM
#######

/bin/bin/sim/*
!/bin/bin/sim/sim.h
!/bin/bin/sim/sim.c
!/bin/bin/sim/sim.1
!/bin/bin/sim/posix.c
!/bin/bin/sim/Makefile
!/bin/bin/sim/config.def.h




### APPEARANCE
##############

/appearance/Pictures/*
!/appearance/Pictures/backgrounds

/appearance/.config/geany/*
!/appearance/.config/geany/colorschemes
