! __  __
! \ \/ /___  _ __ __ _
!  \  // _ \| '__/ _` |
!  /  \ (_) | | | (_| |
! /_/\_\___/|_|  \__, |
!                |___/
!
! X window manager - https://www.x.org/wiki/

! A no-nonsense Xresources file.
! Execute `xrdb ~/.Xresources` to reload X.




!!! Xterm config
!!!!!!!!!!!!!!!!

Xft.dpi: 100
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter
XftFont: xft:Fira Code:size=8:antialias=true:style=Regular

XTerm*renderFont: true
XTerm*faceName: xft:Fira Code Regular
XTerm*faceSize: 8
XTerm*scaleHeight: 1.0
XTerm*scaleWidth: 1.0
XTerm*utf8: 2
XTerm*locale: true
XTerm*loginshell: true
XTerm*savelines: 16384
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
XTerm*background: #000000
XTerm*foreground: #FFFFFF
XTerm*fullscreen: never

XTerm.vt100.metaSendsEscape: true
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?
XTerm.omitTranslation: fullscreen
XTerm.vt100.translations: #override \n\
    Alt <Key> -: smaller-vt-font() \n\
    Alt <Key> +: larger-vt-font()

XTerm*cursorBlink: off
XTerm*cursorOnTime: 400
XTerm*cursorOffTime: 250
XTerm*cursorColor: #4C7899

XTerm*SimpleMenu.font: xft:Fira Code:size=8:antialias=true:style=Regular
XTerm*SimpleMenu.background: #111111
XTerm*SimpleMenu.foreground: #FFFFFF
XTerm*SimpleMenu.*.borderWidth: 1
XTerm*SimpleMenu.*.borderColor: #FFFFFF
XTerm*SimpleMenu.*.topMargin: 0
XTerm*SimpleMenu.*.bottomMargin: 0
XTerm*SimpleMenu.*.leftMargin: 16
XTerm*SimpleMenu.*.rightMargin: 16
XTerm*SimpleMenu.*.leftWhitespace: 16
XTerm*SimpleMenu.*.rightWhitespace: 8




!! UXterm config
!!!!!!!!!!!!!!!!

UXTerm*renderFont: true
UXTerm*faceName: xft:Fira Code Regular
UXTerm*faceSize: 8
UXTerm*scaleHeight: 1.0
UXTerm*scaleWidth: 1.0
UXTerm*utf8: 2
UXTerm*locale: true
UXTerm*loginshell: true
UXTerm*savelines: 16384
UXTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
UXTerm*background: #000000
UXTerm*foreground: #FFFFFF
UXTerm*fullscreen: never

UXTerm.vt100.metaSendsEscape: true
UXTerm.vt100.backarrowKey: false
UXTerm.ttyModes: erase ^?
UXTerm.omitTranslation: fullscreen
UXTerm.vt100.translations: #override \n\
    Alt <Key> -: smaller-vt-font() \n\
    Alt <Key> +: larger-vt-font()

UXTerm*cursorBlink: off
UXTerm*cursorOnTime: 400
UXTerm*cursorOffTime: 250
UXTerm*cursorColor: #4C7899

UXTerm*SimpleMenu.font: xft:Fira Code:size=8:antialias=true:style=Regular
UXTerm*SimpleMenu.background: #111111
UXTerm*SimpleMenu.foreground: #FFFFFF
UXTerm*SimpleMenu.*.borderWidth: 1
UXTerm*SimpleMenu.*.borderColor: #FFFFFF
UXTerm*SimpleMenu.*.topMargin: 0
UXTerm*SimpleMenu.*.bottomMargin: 0
UXTerm*SimpleMenu.*.leftMargin: 16
UXTerm*SimpleMenu.*.rightMargin: 16
UXTerm*SimpleMenu.*.leftWhitespace: 16
UXTerm*SimpleMenu.*.rightWhitespace: 8




!!! Color palette (Tango)
!!!!!!!!!!!!!!!!!!!!!!!!!

*.color0:  #2E3436
*.color1:  #CC0000
*.color2:  #4E9A06
*.color3:  #C4A000
*.color4:  #3465A4
*.color5:  #75507B
*.color6:  #06989A
*.color7:  #D3D7CF

*.color8:  #555753
*.color9:  #EF2929
*.color10: #8AE234
*.color11: #FCE94F
*.color12: #729FCF
*.color13: #AD7FA8
*.color14: #34E2E2
*.color15: #EEEEEC

*.background: #000000
*.foreground: #FFFFFF
