!!! A NOnonsens Xresources file with just some XTerm configs and Dracula palette
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!




!!! Xterm config
!!!!!!!!!!!!!!!!

Xft.dpi: 100
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter

XTerm*renderFont: true
XTerm*faceName: xft:mononoki Nerd Font
XTerm*faceSize: 8.5
XTerm*utf8: 2
XTerm*locale: true
XTerm*loginshell: true
XTerm*savelines: 16384
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
XTerm*background: #FFFFFF
XTerm*foreground: #171421
XTerm*fullscreen: never

XTerm.vt100.metaSendsEscape: true
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?
XTerm.omitTranslation: fullscreen
XTerm.vt100.translations: #override \n\
    Ctrl Alt <Key> -: smaller-vt-font() \n\
    Ctrl Alt <Key> +: larger-vt-font()

XTerm*cursorBlink: off
XTerm*cursorOnTime: 400
XTerm*cursorOffTime: 250
XTerm*cursorColor: #171421




!! UXterm config
!!!!!!!!!!!!!!!!

UXTerm*renderFont: true
UXTerm*faceName: xft:mononoki Nerd Font
UXTerm*faceSize: 8.5
UXTerm*utf8: 2
UXTerm*locale: true
UXTerm*loginshell: true
UXTerm*savelines: 16384
UXTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
UXTerm*background: #FFFFFF
UXTerm*foreground: #171421
UXTerm*fullscreen: never

UXTerm.vt100.metaSendsEscape: true
UXTerm.vt100.backarrowKey: false
UXTerm.ttyModes: erase ^?
UXTerm.omitTranslation: fullscreen
UXTerm.vt100.translations: #override \n\
    Ctrl Alt <Key> j: smaller-vt-font() \n\
    Ctrl Alt <Key> k: larger-vt-font()

UXTerm*cursorBlink: off
UXTerm*cursorOnTime: 400
UXTerm*cursorOffTime: 250
UXTerm*cursorColor: #171421




!!! sxiv config
!!!!!!!!!!!!!!!

Sxiv.background: #D0CFCC
Sxiv.foreground: #171421
Sxiv.font: mononoki Nerd Font:style=regular:size=8.5




!!! Gnome palette
!!!!!!!!!!!!!!!!!

*.background: #ffffff
*.foreground: #171421

! black
*.color0:     #171421
*.color8:     #5E5C64
! red
*.color1:     #C01C28
*.color9:     #F66151
! green
*.color2:     #26A269
*.color10:    #33D17A
! yellow
*.color3:     #A2734C
*.color11:    #E9AD0C
! blue
*.color4:     #12488B
*.color12:    #2A7BDE
! magenta
*.color5:     #A347BA
*.color13:    #C061CB
! cyan
*.color6:     #2AA1B3
*.color14:    #33C7DE
! white
*.color7:     #D0CFCC
*.color15:    #FFFFFF
